* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  height: 35px;
}

#search-box:hover,
#search-box:focus,
#search-box:active {
  outline: none;
  border: 2px solid blue;
}

/*==============country list=================*/

.country-list {
  font-size: 18px;
  list-style: none;
}

.country-list__item {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.country-list__flag {
  margin-right: 10px;
}

/*=================country card=============== */

.country-info__list {
  padding: 0;
  list-style: none;
}
.country_info__item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.county_info__head {
  font-style: 16px;
  margin: 0;
  padding-right: 5px;
}
.county_info__value {
  margin: 0;
}
